<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Payment Forms</title>
    <style>
        body {
            background: #f5f5f5
        }

        .rounded {
            border-radius: 1rem
        }

        .nav-pills .nav-link {
            color: #555
        }

        .nav-pills .nav-link.active {
            color: white
        }

        input[type="radio"] {
            margin-right: 5px
        }

        .bold {
            font-weight: bold
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script
      src="https://kit.fontawesome.com/805e959fd5.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>


<!-- 
    
 -->

<body>
<div class="container py-5">
    <!-- For demo purpose -->
    <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-6">store controler</h1>
        </div>
    </div> <!-- End -->
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <!-- Credit card form tabs -->
                        <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                            <li class="nav-item"> <a data-toggle="pill" href="#store" class="nav-link active "><i class="fa-solid fa-store "></i> your store </a> </li>
                            <li class="nav-item"> <a data-toggle="pill" href="#products" class="nav-link "><i class="fa-solid fa-cart-shopping"></i> products </a> </li>
                        </ul>
                    </div> <!-- End -->
                    <!-- Credit card form content -->
                    <div class="tab-content">
                        <!-- credit card info-->
                        <div id="store" class="tab-pane fade show active pt-3">
                            
                            <form method="post" action="/store/<%= store.id %>" >
                                <div class="row">
                                <div class="form-group col-sm-6"> 
                                    <label for="title">
                                        <h6>store title</h6>
                                    </label> 
                                   <input type="text" name="title" placeholder="Enter new title" required class="form-control"value="<%= store.title %>">
                                 </div>
                                   <div class="col-sm-6">
                                    <div class="form-group mb-3"> <label>
                                            <h6>made by </h6>
                                        </label> <input type="text" name="username" required class="form-control"value="<%= store.username %>" > </div>
                                </div>
                            </div>
                                   <div class="form-group"> <label for="description ">
                                        <h6>description</h6>
                                    </label>
                                    <div class="input-group"> <input type="text" name="description"  class="form-control " value="<%= store.description %>" required>
                                       
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group"> <label><span class="hidden-xs">
                                                    <h6>your location</h6>
                                                </span></label>
                                            <div class="input-group"> <input type="text" placeholder="contery" name="" class="form-control"> <input type="text" placeholder="city" name="location" class="form-control" value="<%= store.location %>"> </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="card-footer"> <button class="subscribe btn btn-dark btn-block shadow-sm">Update Store </button>
                            </form>
                        </div>
                    </div> <!-- End -->
                    <!-- products info -->
                    <div id="products" class="tab-pane fade pt-3">
                    <% if(store.products.length >=1){ %>
                        <div class="row">
                            <div class="form-group col-sm-6"> 
                                <label for="username">
                                    <h6>Number of proucts</h6>
                                </label> 
                               <input type="text" name="username" placeholder="Enter new title" required class="form-control"value="<%= store.products.length %>">
                             </div>
                               <div class="col-sm-6">
                                <div class="form-group mb-3"> <label>
                                        <h6> Amount of capital </h6>
                                    </label> <input type="text" required class="form-control"value="<%= capital %>" > </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6"> 
                                <label for="username">
                                    <h6>Number of customer</h6>
                                </label> 
                                <input type="number" name="customerNumber" placeholder="enter the new description" class="form-control" value="<%= 0 %>" required>
                             </div>
                               <div class="col-sm-6">
                                <div class="form-group mb-3">
                                     <label>
                                        <h6> selles </h6>
                                    </label> <input type="number" name="selles" placeholder="enter the new description" class="form-control" value="<%= 0 %>" required> </div>
                            </div>
                        </div>
                            <div class="card-footer"> 
                                <form action="/store/<%= store.id %>/showProducts" method="get">
                                <button  class="subscribe btn btn-dark btn-block shadow-sm">show products </button>
                            </form>
                    <%}else{  %>
                        <div class="row d-flex justify-content-center">
                            <div class="form-group col-sm-6 "> 
                                
                                <form action="/store/<%= store.id %>/create-product" method="get">
                                    <button class="subscribe btn btn-dark btn-block shadow-sm"> add prodcut</button>
                                </form>
                            
                             </div>
                    <% } %>
                    </div> <!-- End -->
                   
                    <!-- End -->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>