<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="position-relative">
    <%- include("../partials/navbar") %>
    <!--  -->

    <% for (let storeData of storesData){%>
    <div class="d-inline-block">
      <div class="card text-center" style="width: 18rem">
        <div class="carousel-inner">
          <%if(storeData.images.length) {%><!--if there no image I will pass defult image  -->
          <img
            crossorigin="anonymous"
            class="img-fluid"
            alt=""
            src="<%=storeData.images[0].url%>"
          />
          <% }else {%>
          <img
            crossorigin="anonymous"
            class="img-fluid"
            alt=""
            src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png"
          />
          <% } %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= storeData.title%></h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="/store/<%= storeData.id %>" class="btn btn-primary"
            >Go somewhere</a
          >
        </div>
      </div>
    </div>
    <% }%> <%- include("../partials/footer")
    %><%-include("../partials/script")%>
  </body>
</html>
